body{
    background:linear-gradient(0deg, rgba(0,0,0,0.9002320185614849) 0%, rgba(205,9,9,1) 32%, rgba(0,0,0,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}
html, body {
    margin: 0;
    height: 100%;
}


@keyframes yay {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    to {
      transform: rotate(40deg) translateY(-80px);
      opacity: 0;
    }
  }

@keyframes nope {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    to {
      transform: rotate(-40deg) translateY(-80px);
      opacity: 0;
    }
  }

